<div class="list-items mt-4">
  <div *ngIf="_selectedCategory == undefined">
    <div class="col-md-12">
      <ul class="list-group">
          <li class="list-group-item text-center">
            <span class="text-danger"><b>Add a category!</b></span>
          </li>
      </ul>
    </div>
  </div>
  <div *ngIf="_selectedCategory">
    <div class="col-md-12">
      <div class="col-md-12">
        <div>
          <div class="md-form input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Add something" #itemName>
            <div class="input-group-btn">
                <button mdbBtn color="success" size="sm" class="waves-light" 
                  type="button" mdbWavesEffect
                  (click)="addListItem(itemName.value); itemName.value='';"
                >Add</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="listItems.length == 0">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <span class="text-danger">Nothing's in the list!</span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="listItems.length > 0">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of incompleteListItems">
                  <span>
                    <mdb-checkbox [inline]="true" (change)="updateListItem(item)" [default]="true">{{ item.name }}</mdb-checkbox>
                  </span>
                  <span class="text-danger delete-item" (click)="deleteListItem(item)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                </li>
            </ul>
        </div>
        <div class="col-md-12 mt-2">
          <div class="btn-group" mdbDropdown style="width: 100%">
            <button mdbDropdownToggle type="button" mdbBtn size="sm" class="dropdown-toggle waves-light default-color" style="width: 100%" mdbWavesEffect>
              {{ 'Completed('+completeListItems.length+')' }}
            </button>
            <div class="dropdown-menu dropdown-primary dropdown-sm" style="width: 100%" *ngIf="completeListItems.length">
              <div class="dropdown-item" *ngFor="let item of completeListItems">
                <span>
                  <mdb-checkbox [inline]="true" (change)="updateListItem(item)" [default]="true" [checked]="true"><s>{{ item.name }}</s></mdb-checkbox>
                </span>
                <span class="text-danger delete-item" (click)="deleteListItem(item)"><i class="fa fa-trash" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>